{% extends "base.html" %}
{% load static %}
{% load breadcrumb_tags %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock css_files %}

{% block title %} Product Details {% endblock title %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <!-- Breadcrumb start -->
        <div class="d-flex align-items-center justify-content-between border py-2">
            <nav style="--bs-breadcrumb-divider: '&raquo;'" aria-label="breadcrumb">
                <div class="d-flex align-items-center">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"
                                class="text-decoration-none text-warning fw-normal" data-category="" data-product=""><i
                                    class="fa-solid fa-house"></i></a></li>
                        {% breadcrumbs request %}
                    </ol>
                </div>
            </nav>
        </div>
        <!-- Breadcrumb end -->
    </div>
    <div class="row py-2">
        <!-- Category list start -->
        <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block mb-3">
            {% include "partials/_categories.html" %}
        </div>
        <!-- Category list end -->
        <div class="col-xl-10 col-lg-9 col-md-8">
            <div class="row">
                <!-- Product image start -->
                <div class="col-lg-7">
                    <div class="row">
                        <div class="card card-body border mb-3">
                            <img id="mainProductImage" src="{{ product.productImage.url }}"
                                class="card-img-top rounded-0" alt="...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center mb-lg-0 mb-4">
                            {% for image in images %}
                            <button type="button" class="p-1 border-1 border-warning me-1"
                                onclick="changeImage('{{ image.image.url }}')">
                                <img class="product-image" src="{{ image.image.url }}" alt="">
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Product image end -->
                <div class="col-lg-5 position-relative">
                    <!-- Product description start -->
                    <div class="row px-3">
                        <h6 class="card-title text-center mb-3" id="product-name">{{ product.productName }}</h6>
                        <table class="table w-100 mb-3 m-auto table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ürün Kodu</td>
                                    <td>:</td>
                                    <td id="product-code">{{ product.productCode }}</td>
                                </tr>
                                <tr>
                                    <td>Fiyat</td>
                                    <td>:</td>
                                    <td id="product-price">₺{{ product.productPrice }}</td>
                                </tr>
                                <tr>
                                    <td>Stok</td>
                                    <td>:</td>
                                    <td>{{ product.productStock }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="">
                        <div class="product-info">
                            <p class="mb-5">{{ product.productInfo }}</p>
                        </div>
                    </div>
                    <!-- Product description end -->
                    <div class="row px-3">
                        <!-- Product adding start -->
                        <form class="p-0 d-flex justify-content-evenly mb-3 position-absolute start-0 bottom-0"
                            action="{% url 'cart_add' id=product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex align-items-center">
                                <label for="quantity" class="m-0 me-2">Adet:</label>
                                <input type="number" class="form-control product-quantity w-100" name="quantity"
                                    value="1" min="1" max="{{ product.productStock }}">
                                <!-- Add a hidden input field to store the selected image URL -->
                                <input type="hidden" name="selected_image_url" id="selected_image_url"
                                    value="{{ product.productImage.url }}">
                            </div>
                            <button class="btn btn-warning" type="submit">Listeye Ekle</button>
                        </form>
                        <!-- Product adding end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Image changing js start
    function changeImage(imageUrl) {
        // Update the value of the hidden input field with the selected image URL
        document.getElementById("selected_image_url").value = imageUrl;

        // Update the main product image (optional)
        document.getElementById("mainProductImage").src = imageUrl;
    }
    // Image changing js end
</script>
{% endblock content %}