{% extends "base.html" %}
{% load static %}
{% load breadcrumb_tags %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock css_files %}

{% block title %} Products {% endblock title %}

{% block content %}
<div class="container mb-5">
  <div class="row my-2">
    <div class="d-md-flex d-sm-block align-items-center justify-content-between border py-2">
      <!-- Breadcrumb start -->
      <nav style="--bs-breadcrumb-divider: '&raquo;'" aria-label="breadcrumb">
        <div class="d-flex align-items-center justify-content-center">
          <ol class="breadcrumb m-md-0 mb-sm-3">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"
                class="text-decoration-none text-warning fw-normal"><i class="fa-solid fa-house"></i></a></li>
            {% breadcrumbs request %}
          </ol>
        </div>
      </nav>
      <!-- Breadcrumb end -->
      <!-- Product order list start -->
      <div class="d-flex align-items-center justify-content-center">
        <label for="">Sıralama: &nbsp;</label>
        <div class="dropdown">
          <a class="btn border dropdown-toggle" id="sort-by-btn" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sıralama
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?sort=stock_asc">Stoğa Göre Artan</a></li>
            <li><a class="dropdown-item" href="?sort=stock_desc">Stoğa Göre Azalan</a></li>
            <li><a class="dropdown-item" href="?sort=price_asc">Fiyata Göre Artan</a></li>
            <li><a class="dropdown-item" href="?sort=price_desc">Fiyata Göre Azalan</a></li>
          </ul>
        </div>
      </div>
      <!-- Product order list end -->
    </div>
  </div>
  <div class="row py-2">
    <!-- Category list start -->
    <div class="col-xl-2 col-md-4 d-none d-md-block mb-3">
      {% include "partials/_categories.html" %}
    </div>
    <!-- Category list end -->
    <!-- Products by category start -->
    <div class="col-xl-10 col-md-8">
      <div class="row">
        {% for product in products %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href="{% url 'product_details' c_slug=product.productCategory.first.categorySlug p_slug=product.productSlug %}"
            class="text-decoration-none text-reset">
            <div class="card card-body border mb-3">
              <img src="{{ product.productImage.url }}" class="card-img-top rounded-0" alt="...">
              <hr class="">
              <h6 class="card-title text-center mb-3">{{ product.productCode }}</h6>
              <p class="bg-body-secondary rounded p-2 mb-1">Stok: {{ product.productStock }}</p>
              <p class="text-warning bg-body-secondary rounded p-2 m-0">Fiyat: ₺ {{ product.productPrice }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Products by category end -->
  </div>
</div>

<script>
  // Product order js start
  const sortByBtn = document.getElementById("sort-by-btn");
  const selectedSortOption = "{{ selected_sort_option|default:'stock_asc' }}";

  // Map sorting options to their display text
  const sortOptions = {
    stock_asc: "Stoğa Göre Artan",
    stock_desc: "Stoğa Göre Azalan",
    price_asc: "Fiyata Göre Artan",
    price_desc: "Fiyata Göre Azalan"
  };

  // Update the button text based on the selected option
  if (selectedSortOption && sortOptions[selectedSortOption]) {
    sortByBtn.innerText = `${sortOptions[selectedSortOption]}`;
  }
    // Product order js end
</script>
{% endblock content %}