.carousel-inner {
    height: 50vh;
}

.sub-category-name {
    top: 5%;
    padding-right: 8em;
}

.product-image {
    width: 5em;
}

.product-quantity {
    width: 50%;
}

.pointer {
    cursor: pointer;
}