.carousel-inner {
    height: 50vh;
}

.sub-category-name {
    top: 5%;
    width: 80%;
}

.product-image {
    width: 5em;
}

.product-quantity {
    width: 50%;
}

.pointer {
    cursor: pointer;
}

.product-info {
    height: 12rem;
}